@use "../../styles/variables.scss" as *;

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;

  &-primary {
    background-color: $color-primary;
    color: white;
  }

  &-sm {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 600;
  }

  &-md {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 700;
  }
}
