@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

body {
  font-family: "Inter", sans-serif;
  color: $main-text-color;
  overflow-x: hidden;
  font-size: 14px;

  @media (min-width: $breakpoint-sm) {
    font-size: 16px;
  }
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 600;
  font-size: 20px;

  @media (min-width: $breakpoint-xs) {
    font-size: 24px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;

  @media (min-width: $breakpoint-xs) {
    font-size: 20px;
  }
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 16px 12px;

  @media (min-width: $breakpoint-sm) {
    padding: 24px 32px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 40px 48px;
  }
}
