// Colors
$color-primary: #5c00dc;
$color-light-gray: #cbc6df;
$color-medium-gray: #444444;
$color-dark-gray: #222222;

// Text Colors
$heading-color: $color-dark-gray;
$main-text-color: #393551;

// Breakpoints
$breakpoint-2xs: 320px;
$breakpoint-xs: 480px;
$breakpoint-sm: 620px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
