@use "../../styles/variables.scss" as *;

.heading-container {
  display: grid;
  grid-template-columns: auto;
  gap: 12px;

  @media (min-width: $breakpoint-xs) {
    grid-template-columns: auto 1fr;
  }

  @media (min-width: $breakpoint-sm) {
    gap: 16px;
    grid-template-columns: auto 1fr auto;
  }
}

.heading-icon {
  height: 95px;
  width: 95px;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.event-meta {
  line-height: 20px;
  display: flex;

  @media (min-width: $breakpoint-md) {
    line-height: 24px;
    flex-direction: column;
  }
}

.meta-separator {
  margin: 0 4px;

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
