@use "../../styles/variables.scss" as *;

.instructions {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $breakpoint-md) {
    gap: 16px;
  }
}

.step-title {
  font-size: 14px;
  color: #444;
  margin-bottom: 8px;
}

.step-number {
  font-weight: 700;
  color: $color-dark-gray;
}

.step-one-wrapper {
  padding: 8px 12px;
  border: 1px solid $color-light-gray;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-xs) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-md) {
    padding: 16px 24px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.step-one-item {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.step-heading {
  font-size: 13px;
  font-weight: 700;
  color: $heading-color;
}

.step-item-content {
  font-size: 12px;
  color: $main-text-color;
}

.step-two-wrapper,
.step-three-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 24px;

  @media (min-width: $breakpoint-xs) {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}

.workflow-step {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  box-shadow: inset 1px 1px 0px $color-light-gray,
    inset -1px -1px 0px $color-light-gray;
  align-items: flex-start;
  min-height: 80px;
  justify-content: center;
  padding: 0 16px;

  @media (min-width: $breakpoint-xs) {
    min-height: 120px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 0 42.67px 0 32px;
  }
}

.add-registration-workflow {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.add-registration-workflow-icon {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.workflow-step-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.workflow-arrow {
  padding: 3.5px 4.5px;
}
